<!-- Validation failure messages -->
<% if @professor.errors.any? %>
  <% @professor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Professor: <%= @professor.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_professor/<%= @professor.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @professor.name %>">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @professor.title %>">
      </div>

      <!-- Label and input for bio -->
      <div class="form-group">
        <label for="bio" class="control-label">
          Bio
        </label>

        <textarea id="bio" name="bio" placeholder="Bio" class="form-control" rows="3"><%= @professor.bio %></textarea>
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @professor.image_url %>">
      </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @professor.email %>">
      </div>

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <input type="text" id="course_id" name="course_id" placeholder="Course" class="form-control" value="<%= @professor.course_id %>">
      </div>

      <button class="btn btn-warning">
        Update Professor
      </button>
      or
      <a href="/professors/<%= @professor.id %>">Cancel</a>
    </form>
  </div>
</div>
